.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 85%;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 4px 16px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-products{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    transform: scale(0.75) translateY(-10%);
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 155px;
    height: 55px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(-100%);
}